body {
  font-size: 14px;
}

.-etl-body-container {
  padding: 20px;
}

.-etl-list-group {
  >.list-item {
    display: flex;
    margin: 10px auto;
    >.title {
      flex: 0 0 100px;
      margin-right: 15px;
      text-align: right;
    }
    >.value {
      flex: 1;
      text-align: left;
    }
  }
}
