body {
  font-size: 14px;
}

/deep/ .el-dialog {
  .el-dialog__header {
    padding: 15px;
    border-bottom: 1px solid #EBEEF5;
  }
  .el-dialog__footer {
    border-top: 1px solid #EBEEF5;
    padding: 10px 20px;
  }
}

.-etl-list-group {
  >.list-item {
    display: flex;
    margin: 10px auto;
    >.title {
      flex: 0 0 100px;
      margin-right: 15px;
      text-align: right;
    }
    >.value {
      flex: 1;
      text-align: left;
    }
  }
}
